#projects .content {
  text-align: center;
  padding: 5rem 0 8rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

#filters {
  text-align: center;
  white-space: nowrap;
  padding: .8rem 0 3rem 0;
  cursor: default; }
  #filters .item {
    -o-transition: 0.6s;
    -ms-transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
    Transition: 0.6s;
    display: inline-block;
    border-radius: 1000px;
    height: 2.4rem;
    background-color: #F8F8FA;
    margin: .5rem;
    cursor: pointer; }
    #filters .item p {
      font-family: 'Abel', 'Arial', sans-serif;
      text-transform: uppercase;
      font-weight: lighter;
      -o-transition: 0.6s;
      -ms-transition: 0.6s;
      -moz-transition: 0.6s;
      -webkit-transition: 0.6s;
      Transition: 0.6s;
      letter-spacing: .127rem;
      color: #B1B6B9;
      font-size: 1.3rem;
      padding: 0 2rem;
      margin: 0;
      line-height: 2.6rem; }
  #filters .active {
    background-color: #FB8578;
    cursor: default; }
    #filters .active p {
      color: #fff; }

#gallery {
  display: flex;
  justify-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 88vw;
  max-width: 1600px;
  color: #fff;
  font-family: 'Abel', 'Arial', sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 4.7vw;
  line-height: 4.8vw;
  letter-spacing: 0.2vw;
  /*
  .img1 {
      background-color: #FFE8A7;
  }
  .img2 {
      background-color: #FFA3B4;
      img {
          height: 18vw;
          max-height: 36rem;
      }
  }
  .img3 {
      background-color: #E6F0F4;
  }
  .img4 {
      background-color: #BEEDFF;
  }
  .ourstory {
      background-color: #8E525E;
      background-color: #A25666;
      img {
          width: 80%;
      }
  }*/ }
  #gallery .item {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    position: relative;
    margin: 1%;
    width: 31.3%;
    height: 27.2vw;
    max-height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    #gallery .item a span {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
  #gallery .portfolio {
    background-color: #FB8578; }
    #gallery .portfolio img {
      width: 50%; }
  #gallery .hsc {
    background-color: #FFE792; }
    #gallery .hsc img {
      /*
      width: 80%;
      margin-left: -0.5rem;
      margin-top: 26%; */
      height: 80%; }

@media only screen and (min-width: 2000px) {
  #gallery {
    font-size: 9.5rem;
    line-height: 9.7rem; } }
@media only screen and (min-device-width: 768px) {
  #filters .item:hover {
    background-color: #FB8578; }
    #filters .item:hover p {
      color: #fff; } }
@media only screen and (max-width: 768px) {
  #gallery {
    font-size: 7.2vw;
    line-height: 7.2vw;
    letter-spacing: 0.2vw;
    margin: 0;
    padding: 0;
    width: 84vw; }
    #gallery .item {
      margin: 1.5%;
      width: 47%;
      height: 39.7vw;
      max-height: 100%; } }
@media only screen and (max-width: 480px) {
  #filters .item p {
    padding: 0 1.3rem; }

  #projects .content {
    justify-content: center;
    padding: 5rem 0; }

  #gallery {
    font-size: 15vw;
    line-height: 15vw;
    letter-spacing: 0.2vw; }
    #gallery .item {
      margin-bottom: 9%;
      width: 100%;
      height: 80vw;
      max-height: 53.6rem; } }
@media only screen and (max-device-width: 768px) {
  #filters .item,
  #filters .item p {
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -o-transition-property: none;
    transition-property: none; } }
.bio a:hover {
  opacity: .5; }

#highlights table {
  width: 100vw;
  border-collapse: collapse; }
  #highlights table td {
    vertical-align: top;
    padding: .4rem 3.2rem;
    border: 1px solid #D8DBDE; }
#highlights .wide .cell1 {
  padding-left: 0;
  border-left: none; }
#highlights .wide .cell4 {
  padding-right: 0;
  border-right: none; }
#highlights .narrow {
  display: none; }
  #highlights .narrow .cell1,
  #highlights .narrow .cell3 {
    padding-left: 0;
    border-left: none; }
  #highlights .narrow .cell2,
  #highlights .narrow .cell4 {
    padding-right: 0;
    border-right: none; }
#highlights .spacer {
  width: 9vw;
  padding: 0;
  border-right: none;
  border-left: none; }
#highlights span {
  font-family: 'Abel', 'Arial', sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: .138rem;
  color: #B1B6B9;
  line-height: 3rem;
  margin-bottom: 1.6rem; }

@media only screen and (max-width: 600px), only screen and (max-device-width: 768px) {
  #highlights .wide {
    display: none; }
  #highlights .narrow {
    display: table; } }
@media only screen and (min-width: 1460px) {
  #highlights .spacer {
    width: calc((100vw - 1200px)/2); } }
.entry table {
  width: 100vw;
  border-collapse: collapse; }
  .entry table td {
    vertical-align: top;
    padding: 5rem 5.5rem;
    border: 0.1rem solid #D8DBDE; }
.entry .wide.summary .cell1 {
  padding-left: 0;
  border-left: none; }
.entry .wide.summary .cell2 {
  padding-right: 0;
  border-right: none; }
.entry .narrow {
  display: none; }
.entry .narrow.summary td {
  border-left: none;
  border-right: none; }
.entry .narrow.summary .cell1 {
  padding-left: 0;
  padding-right: 0; }
.entry .narrow.summary .cell2 {
  width: calc((100% - 2*9vw)/2);
  padding-left: 0;
  padding-right: 2.5rem; }
.entry .narrow.summary .cell3 {
  padding-right: 0;
  padding-left: 2.5rem; }
.entry .narrow.summary .cell2,
.entry .narrow.summary .cell3 {
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .entry .narrow.summary .cell2 p,
  .entry .narrow.summary .cell3 p {
    margin: 3rem 0; }
.entry .spacer {
  width: 9vw;
  padding: 0;
  border-right: none;
  border-left: none; }
.entry span {
  font-family: 'Abel', 'Arial', sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: .138rem;
  color: #B1B6B9;
  line-height: 3rem;
  margin-bottom: 1.6rem; }
.entry .wrapper {
  overflow: hidden;
  text-align: center; }
  .entry .wrapper .stretch {
    width: 100vw;
    background-color: #F8F8FA; }
    .entry .wrapper .stretch .container {
      width: auto; }

#portfolio .wide.summary .cell2 {
  width: 30%; }
#portfolio .mockups {
  height: auto; }
  #portfolio .mockups .stretch {
    height: auto;
    background-color: #42474B; }
    #portfolio .mockups .stretch .container {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      #portfolio .mockups .stretch .container img {
        width: 38.5%;
        margin: 9rem 2%;
        max-width: 56.3rem; }

#hsc .wide.summary .cell2 {
  width: 18%; }
#hsc .mockups {
  height: auto; }
  #hsc .mockups .stretch {
    height: auto;
    background-color: #42474B; }
    #hsc .mockups .stretch .container {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      #hsc .mockups .stretch .container img {
        width: 38.5%;
        margin: 9rem 2%;
        max-width: 56.3rem; }

.swatches {
  height: 30rem; }
  .swatches .stretch {
    height: 30rem;
    overflow-x: scroll;
    padding: 0 0 2.5rem 0;
    text-align: center; }
    .swatches .stretch .container {
      margin-top: 8.8rem;
      display: inline-block;
      position: relative;
      white-space: nowrap;
      padding-bottom: 2.5rem; }
      .swatches .stretch .container .item {
        display: inline-block;
        height: 12rem;
        width: 12rem;
        background-color: #fff;
        margin: 0 2.5rem;
        text-align: center; }
        .swatches .stretch .container .item:first-child {
          margin-left: 9vw; }
        .swatches .stretch .container .item:last-child {
          margin-right: 9vw; }
        .swatches .stretch .container .item .swatch {
          width: 12rem;
          height: 8.16rem;
          background-color: aqua; }
        .swatches .stretch .container .item p {
          font-family: 'Abel', 'Arial', sans-serif;
          text-transform: uppercase;
          font-weight: lighter;
          color: #5A5F63;
          letter-spacing: .2rem;
          font-size: 1.7rem;
          margin-top: .5rem;
          cursor: text;
          -webkit-user-select: auto;
          -moz-user-select: auto;
          user-select: auto; }
    .swatches .stretch .align-swatches {
      justify-content: flex-start; }

.type {
  height: 38rem; }
  .type .stretch {
    height: 38rem;
    overflow-x: scroll;
    padding: 0 0 2.5rem 0;
    text-align: left; }
    .type .stretch .container {
      margin-top: 7rem;
      display: inline-block;
      position: relative; }
      .type .stretch .container .item {
        display: inline-block; }
        .type .stretch .container .item img {
          margin-left: 9vw;
          margin-right: 9vw;
          display: block;
          padding: 1.9rem 0 1.9rem; }

.type .arrows,
.swatches .arrows {
  display: inline-block;
  position: absolute;
  width: 20rem;
  margin-left: -10rem;
  margin-top: -8.5rem;
  cursor: ew-resize;
  -o-transition: 0.7s;
  -ms-transition: 0.7s;
  -moz-transition: 0.7s;
  -webkit-transition: 0.7s;
  Transition: 0.7s; }
  .type .arrows span,
  .swatches .arrows span {
    opacity: 1;
    font-size: 3.2rem;
    color: #D8DBDE;
    color: #B1B6B9;
    cursor: pointer;
    margin: 0 .5rem;
    -o-transition: 0.7s;
    -ms-transition: 0.7s;
    -moz-transition: 0.7s;
    -webkit-transition: 0.7s;
    Transition: 0.7s; }
  .type .arrows .disable,
  .swatches .arrows .disable {
    opacity: 0.25;
    cursor: ew-resize; }
.type .hidden,
.swatches .hidden {
  visibility: hidden;
  opacity: 0; }

@media only screen and (max-width: 600px), only screen and (max-device-width: 768px) {
  .entry .wide {
    display: none; }
  .entry .narrow {
    display: table; } }
@media only screen and (min-device-width: 768px) {
  #filters .item:hover {
    background-color: #FB8578; }
    #filters .item:hover p {
      color: #fff; } }
@media only screen and (min-width: 1450px) {
  .entry .spacer {
    width: calc((100vw - 1200px)/2); }

  .type .stretch .container .item img {
    margin-left: calc((100vw - 1200px)/2);
    margin-right: calc((100vw - 1200px)/2); }

  #portfolio .wide .cell2 {
    width: calc(1200px * .33); } }
html,
body {
  margin: 0 !important;
  padding: 0 !important;
  -webkit-font-smoothing: antialiased;
  position: relative;
  min-height: 100vh;
  font-size: 10px;
  font-size: 62.5%; }

h1,
h2,
h3 {
  font-family: 'Abel', 'Arial', sans-serif;
  text-transform: uppercase;
  font-weight: lighter; }

h1 {
  font-size: 3.4rem;
  letter-spacing: .386rem;
  line-height: 4rem;
  color: #42474B; }

h2 {
  font-size: 2.4rem;
  letter-spacing: .16rem;
  line-height: 3rem;
  color: #B1B6B9; }

h3 {
  font-size: 1.8rem;
  letter-spacing: .138rem;
  color: #B1B6B9; }

body,
p {
  font-family: 'Jaldi', 'Arial', sans-serif;
  color: #5A5F63;
  line-height: 2.9rem;
  font-size: 1.8rem;
  font-weight: lighter; }

a {
  text-decoration: none;
  color: #FB8578;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  Transition: 0.3s; }

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 19rem;
  padding-top: 1rem;
  text-align: center; }
  #header img {
    width: 7rem; }
  #header h3 {
    line-height: 0; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
#logo img {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; }

#content-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.content {
  padding: 5rem 9vw;
  max-width: 1200px;
  width: 82vw; }

.h-line {
  width: 100vw;
  height: .1rem;
  background-color: #D8DBDE;
  padding: 0;
  margin: 0; }

.v-line {
  width: 1rem;
  background-color: #D8DBDE;
  padding: 0; }

#resume .content {
  text-align: center;
  padding: 7rem 0; }

.button {
  display: inline-block;
  height: 3.7rem;
  border-radius: 1000px;
  background-color: #FB8578;
  cursor: pointer;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  -moz-transition: 0.6s;
  -webkit-transition: 0.6s;
  Transition: 0.6s;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin: 0 0.7rem; }
  .button p {
    font-family: 'Abel', 'Arial', sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    -o-transition: 0.6s;
    -ms-transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
    Transition: 0.6s;
    letter-spacing: .163rem;
    color: #fff;
    font-size: 1.8rem;
    padding: 0 3.2rem;
    margin: 0;
    line-height: 3.75rem;
    white-space: nowrap; }

#push {
  height: 12rem; }

#footer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 12rem;
  padding: 0 9vw; }
  #footer .container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center; }
    #footer .container p {
      font-family: 'Abel', 'Arial', sans-serif;
      text-transform: uppercase;
      font-weight: lighter;
      font-size: 1.4rem;
      color: #42474B;
      letter-spacing: .16rem;
      white-space: nowrap; }
    #footer .container .contact {
      margin-left: -.4rem; }
      #footer .container .contact img {
        width: 4rem;
        margin: .6rem 0 0 0.5rem;
        -o-transition: 0.4s;
        -ms-transition: 0.4s;
        -moz-transition: 0.4s;
        -webkit-transition: 0.4s;
        Transition: 0.4s; }
        #footer .container .contact img:hover {
          -webkit-animation-name: spin;
          -webkit-animation-duration: 1s;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-timing-function: linear; }
  #footer .narrow {
    display: none;
    justify-content: center;
    flex-direction: column; }
    #footer .narrow p {
      display: block;
      margin-top: 0.9rem; }
    #footer .narrow .contact {
      display: block; }

.two-col {
  column-count: 2;
  column-gap: 4rem; }

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.page-not-found {
  text-align: center; }
  .page-not-found h1 {
    font-size: 17rem; }
  .page-not-found p {
    font-family: 'Abel', 'Arial', sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 3.6rem;
    color: #42474B;
    line-height: 0;
    margin-top: -3rem;
    white-space: nowrap; }

@media only screen and (max-width: 480px), only screen and (max-device-width: 768px) {
  .two-col {
    column-count: 1;
    column-gap: 0; }

  #push {
    height: 17rem; }

  #footer {
    height: 17rem; }
    #footer .wide {
      display: none; }
    #footer .narrow {
      display: flex; } }
@media only screen and (min-device-width: 768px) {
  .button:hover {
    background-color: #fff;
    -webkit-box-shadow: inset 0px 0px 0px 0.1rem #FB8578;
    -moz-box-shadow: inset 0px 0px 0px 0.1rem #FB8578;
    box-shadow: inset 0px 0px 0px 0.1rem #FB8578; }
    .button:hover p {
      color: #FB8578; } }
@media only screen and (max-device-width: 768px) {
  body {
    font-size: 42px; }

  #footer .container p {
    margin-top: 1em; }

  .button p {
    line-height: 3.95rem; } }

/*# sourceMappingURL=main.css.map */
